* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Viga;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 300px;
    height: 450px;
    background-color: #24241d;
    border-radius: 10px;
}

.main h1 {
    text-align: center;
    margin-top: 10px;
}

.textarea {
    width: 280px;
    margin: 10px;
    height: 50px;
    text-align: right;
    font-size: 25px;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 25px;
    border: none;
    margin: 4px;
    border-radius: 30px;
}

.button-green {
    border-radius: 30px;
    margin: 4px;
    font-size: 25px;
    width: 50px;
    height: 50px;
    background-color: rgb(62, 199, 49);
    cursor: pointer;
    border: none;
}

#sama-dengan {
    height: 110px;
}

.gradient {
    width: 305px;
    height: 455px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.9em 1.6em;
    border: none;
    outline: none;
    color: #fff;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

.gradient::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 46, 46);
    left: 0;
    top: 0;
    border-radius: 10px;
}

.gradient::before {
    content: "";
    background: linear-gradient(45deg, #ff0000, #002bff, #ff00c8, #002bff, #ff0000, #002bff, #ff00c8, #002bff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.gradient:hover::before {
    opacity: 1;
}

.gradient:active:after {
    background: transparent;
}

.gradient:active {
    color: #000;
    font-weight: bold;
}
